IDI_ICON1		ICON		DISCARDABLE	"WMVx.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,2,3,0
PRODUCTVERSION  0,2,3,0
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "FileVersion", "0.2.3"
VALUE "ProductName", "WMVx"
VALUE "ProductVersion", "0.2.3"
END
END
END