IDI_ICON1		ICON		DISCARDABLE	"WMVx.ico"

#include <windows.h>

VS_VERSION_INFO VERSIONINFO
FILEVERSION     0,3,1,0
PRODUCTVERSION  0,3,1,0
BEGIN
BLOCK "StringFileInfo"
BEGIN
BLOCK "040904E4"
BEGIN
VALUE "FileVersion", "0.3.1"
VALUE "ProductName", "WMVx"
VALUE "ProductVersion", "0.3.1"
END
END
END